extends ../layout

block content
	.container
		.row
			.col-md-5
				dl.dl-horizontal
					dt 姓名(中文)
					dd= card.cname
					dt 姓名(英文)
					dd= card.ename
					dt 职务(中文)						
					dd=	card.ctitle
					dt 职务(英文)
					dd=	card.etitle
					dt 电话
					dd=	card.tel
					dt 手机
					dd=	card.mobile
					dt 邮箱
					dd=	card.email
					dt 公司(中文)
					dd=	card.ccompany
					dt 公司(英文)
					dd=	card.ecompany
					dt 地址(中文)
					dd=	card.caddress
					dt 地址(英文)
					dd=	card.eaddress
					dt 网站
					dd=	card.website

						
