extends ../layout

block content
    .pagesContianer
      #page1.section.page
        .pageBackground
          .pageContent
            img.bk1(src='images/pages/index/1/bk.png')
            #page1Text
              span(style='font-size:24px;color:#5a5a5a;') 公司名
              span(style='font-size:24px;color:#404040;') Logo形状智能识别，寻找适合您的名片设计
              a.text-center(href='#') 一键上传
              br
      #page2.section.page
        .pageBackground
          .pageContent
            img.bk1(src='images/pages/index/2/p1.png')
            img.bk1(src='images/pages/index/2/p2.png')
            img.bk1(src='images/pages/index/2/p3.png')
            img.bk1(src='images/pages/index/2/p4.png')
            #page2Text
              a.text-center(href='#') &#x770B;&#x770B;&#x66F4;&#x591A;
              span(style='font-size:18px;color:#404040;') &#x6D77;&#x91CF;&#x540D;&#x7247;&#x6837;&#x5F0F;&#x4F9B;&#x4F60;&#x9009;&#x62E9;
              br
      #page3.section.page
        .pageBackground
          .pageContent
            #cnfield
              ul
                li &#x59D3;&#x540D;
                li &#x804C;&#x79F0;
                li &#x624B;&#x673A;&#x53F7;
                li &#x5EA7;&#x673A;&#x53F7;
                li &#x90AE;&#x7BB1;&#x5730;&#x5740;
                li &#x516C;&#x53F8;&#x540D;&#x79F0;
                li &#x516C;&#x53F8;&#x5730;&#x5740;
                li &#x516C;&#x53F8;&#x7F51;&#x5740;
                li &#x4F20;&#x771F;
                li &#x4F01;&#x4E1A;&#x5B97;&#x65E8;
                li &#x7ECF;&#x8425;&#x8303;&#x56F4;
            #middle
              img(src='images/pages/index/3/arrow1.png')
              img(src='images/pages/index/3/arrow1.png')
              img(src='images/pages/index/3/arrow1.png')
              img(src='images/pages/index/3/arrow1.png')
            #enfield
              ul
                li NAME
                li TITLE
                li COMPANY NAME
                li COMPANY ADDRESS
            #page3Text
              a.text-center(href='#') &#x4E0B;&#x4E00;&#x6B65;
              span(style='font-size:18px;color:#404040;') &#x4E2A;&#x6027;&#x5316;&#x5B9A;&#x5236;&#xFF0C;&#x8BA9;&#x60A8;&#x7684;&#x540D;&#x7247;&#x4E0E;&#x4F17;&#x4E0D;&#x540C;
              br
      #page4.section.page
        .pageBackground
          .pageContent
            #card1
              img(src='images/pages/index/4/card-1.png')
            #card2
              img(src='images/pages/index/4/card-2.png')
            #page4Text
              a.text-center(href='#') &#x6837;&#x5F0F;&#x786E;&#x8BA4;
      #page5.section.page
        .pageBackground
          .pageContent
            #card
              img(src='images/pages/index/5/card-5-1.png')
              img(src='images/pages/index/5/card-5-2.png')
            div
              ul
                li
                  span &#x59D3;&#x540D;
                  input(type='text')
                li
                  span &#x804C;&#x79F0;
                  input(type='text')
                li
                  span &#x624B;&#x673A;
                  input(type='text')
                li
                  span &#x90AE;&#x7BB1;&#x5730;&#x5740;
                  input(type='text')
                li
                  span &#x516C;&#x53F8;&#x540D;&#x79F0;
                  input(type='text')
                li
                  span &#x516C;&#x53F8;&#x5730;&#x5740;
                  input(type='text')
                li
                  span &#x516C;&#x53F8;&#x7F51;&#x7AD9;
                  input(type='text')
            #page5Text
              a.text-center(href='#') &#x52A0;&#x5165;&#x8D2D;&#x7269;&#x8F66;
