extends ../layout

block content
	.container
		.row
			.col-sm-5
				form(method="post", action="/user/login")
					.modal-body
						.form-group
							label(for="loginName") 用户名
							input#loginName.form-control(name="user[name]", type="text")
						.form-group
							label(for="loginPassword") 密码
							input#loginPasword.form-control(name="user[password]", type="text")
					.modal-footer
						button.btn.btn-defaul(type="button", data-dismiss="modal") 关闭
						button.btn.btn-success(type="submit") 提交
